snippet cb "Comment Block"
/*
|--------------------------------------------------------------------------
| $1
|--------------------------------------------------------------------------
*/$0
endsnippet

snippet cl "console.log"
console.log($1);$0
endsnippet

snippet "\=\." "=>" rA
=>$0
endsnippet
