snippet commentblock "Comment blok"
################################################################################
#  $0
################################################################################
endsnippet
