snippet cb "Comment block"
################################################################################
# $1
################################################################################$0
endsnippet

snippet pry "pry"
require 'pry'; binding.pry
endsnippet
